/*main css*/

body{
    background-color: #1F1F1F;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(assets/wallpaper.png);
    align-items: center;
    text-align: center;
    background-size:cover;
    
}

.topbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0000;
    border: 2px solid #4B0000;
    height:175px;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
.pagebutton{
    border: 2px solid #4B0000;
    height:40px;
    width:300px;
    border-radius:12px;
    background-color: #840000;
    color:#C0C0C0;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 150px;
}
.pagebutton:hover {
    background-color: #6A0000;
    color: #C0C0C0;
}
.logo {
    display: flex;
    align-items: center;
}
/* login css*/
.login-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px; 
    margin: 50px auto; 
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-box button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-box a {
    color: #5B0000; 
    text-decoration: underline;
    font-size: 14px;
    display: inline-block; 
    margin-top: 10px;
}
/*Sign Up css*/
.signup-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px; 
    margin: 50px auto; 
    }
    .signup-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    .signup-box button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    .phone-number-wrapper {
        display: flex;
        align-content: center;
        font-size: small;
      }
      
      .country-code {
        margin: 8px; 
      }
      .image-container {
        display: flex; 
        justify-content: space-between;
        
    }

    .image-container img {
        width: 50px; 
        height: auto; 
    }
    .date-wrapper {
        display: flex;
        align-content: center;
        font-size: small;
      }
