body{
    background-color: #1F1F1F;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(assets/wallpaper.png);
    background-size:cover;
    
}
.topbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0000;
    border: 2px solid #4B0000;
    height:175px;
    border-radius: 20px;
}
.pagebutton{
    border: 2px solid #4B0000;
    height:40px;
    width:300px;
    border-radius:12px;
    background-color: #840000;
    color:#C0C0C0;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}