body{
    background-color: #1F1F1F;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(assets/wallpaper.png);
    background-size:cover;
    
}
.topbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0000;
    border: 2px solid #4B0000;
    height:175px;
    border-radius: 20px;
}
.pagebutton{
    border: 2px solid #4B0000;
    height:40px;
    width:300px;
    border-radius:12px;
    background-color: #840000;
    color:#C0C0C0;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pagebutton:hover {
    background-color: #6A0000;
    color: #C0C0C0;
}

.main{
    display:flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
}
h1{
    color:#FFFFFF;
    text-align: center;
}
.mainBox{
    align-self: center;
    align-items:center;
    background-color: #FFFFFF;
    padding:20px;
    border-radius:20px;
    width:50%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.button1{
    border: 2px solid #4B0000;
    border-radius:12px;
    background-color: #840000;
    width:150px;
    height:40px;
    color:#FFFFFF;
}
.button1:hover{
    background-color: #6A0000;
}
.accountform{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-self:self-start;
    width:100%;
}
.accountform input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.phone-number-wrapper {
    display: flex;
    align-content: center;
    font-size: small;
  }
  .country-code {
    margin: 10px; 
  }
  .date-wrapper {
    display: flex;
    align-content: center;
    font-size: small;
  }
  hr{background-color: #c2c2c2;
    height:1px;
    width:90%;
}
.paymentMethods{
    border-radius: 5px;
    width:90%;
    border-collapse: collapse;
}
.paymentMethods th{
    border:1px solid black;
    padding:5px;
}
.paymentMethods td{
    border:1px solid black;
    padding:5px;
    
}
.nameCell{
    gap:10px;

}
.deleteButton{
    border:none;
    background-color: #840000;
    width:50px;
    height:50px;
    border-radius: 15px;
    text-align: center;
    min-width: 50px;
    margin-left:10px;
}
.deleteButton:hover{
    background-color: #ff0e0e;
    filter: drop-shadow(0px 0px 4px #ff0e0e);
}
.plusButton{
    border:0px;
    background-color: #840000;
    width:50px;
    height:50px;
    border-radius:15px;
    text-align: center;
}
.plusButton:hover{
    background-color: #ff0e0e;
    filter: drop-shadow(0px 0px 4px #ff0e0e);
}
.nameWrapper{
    display:flex;
    gap: 5px;
}
.orderHistory{
    border-collapse:collapse;
    width:80%;
    text-wrap: nowrap;
}
.orderHistory th{
    border:1px solid black;
    padding:5px;
}
.orderHistory td{
    border:1px solid black;
    padding:5px;
}
.addtocart{
    
    border:none !important;
    text-align: left;
}
.cartbutton{
    background-color: #840000;
    width:50px;
    height:50px;
    border-radius: 20;
    border-radius:15px;
    border:none;
    margin-left:5px;
}
.cartbutton:hover{
    background-color: #ff0e0e;
    filter: drop-shadow(0px 0px 4px #ff0e0e);
}